<header class="flex items-center justify-between px-6 py-4 border-b-3 bg-bg border-primary">
  <h1 class="text-3xl font-bold text-primary">RakuCi</h1>
  <button class="relative w-8 h-6 flex flex-col justify-between items-center group" data-action="click->hamburger#toggle" data-hamburger-target="hamburger">
    <span class="hamburger-to-close group-[.open]:translate-y-[12px] group-[.open]:rotate-45"></span>
    <span class="hamburger-to-close group-[.open]:opacity-0"></span>
    <span class="hamburger-to-close group-[.open]:-translate-y-[9px] group-[.open]:-rotate-45"></span>
  </button>
</header>
