<div class="relative z-20 w-full max-w-2xl max-h-screen overflow-y-auto bg-bg rounded-md">
  <main class="flex flex-col justify-center px-8 py-12 bg-main-bg">
    <h1 class="text-2xl font-bold text-primary mb-8"><%= @card.name %></h1>
    <div class="">
      <%= form_with model: @card, class: "w-full max-w-md" do |f| %>
        <%= f.label :memo, "メモ", class: "block text-2xl font-bold text-primary mb-2" %>
        <%= f.text_area :memo, disabled: true, class: "form-text-field bg-gray-100" %>
      <% end %>
    </div>
  </main>
</div>
