@import "tailwindcss";

@theme {
  --color-primary: #31C0B5;
  --color-text: #505050;
  --color-bg: #FCFCFC;
  --color-main-bg: #F8FFFE;
  --color-main-button: #239C94;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

@layer components {
  .btn-main {
    @apply w-full px-8 py-3 bg-main-button text-white font-semibold rounded-lg hover:opacity-80 transition cursor-pointer;
  }
  .btn-sub {
    @apply px-8 py-3 bg-white border-2 border-gray-300 text-text font-semibold rounded-lg hover:bg-gray-50 transition
  }
  .hamburger-to-close {
    @apply block w-8 h-[3px] bg-primary rounded transition-all duration-300 ease-in-out origin-center
  }
}
