@import "tailwindcss";

@theme {
  --color-primary: #31C0B5;
  --color-text: #505050;
  --color-bg: #FCFCFC;
  --color-main-bg: #F8FFFE;
  --color-main-button: #239C94;
}

@layer components {
  .btn-main {
    @apply w-full px-8 py-3 bg-main-button text-white font-semibold rounded-lg hover:opacity-80 transition cursor-pointer;
  }
  
}
